In [ ]:
# Female count is less so we will fill null values with Female
test_df.Gender = test_df.Gender.fillna("Female")

# "No" count is less so we will fill null values with "No"
test_df.Married = test_df.Married.fillna("No")

# "3+" count is less so we will fill null values with "3+"
test_df.Dependents = test_df.Dependents.fillna("3+")

# "Yes" count is less so we will fill null values with "Yes"
test_df.Self_Employed = test_df.Self_Employed.fillna("Yes")

# 12 count is less so we will fill null values with 12
test_df.Loan_Amount_Term = test_df.Loan_Amount_Term.fillna(12)

test_df.LoanAmount = test_df.LoanAmount.fillna(test_df.LoanAmount.median())

# 0.0 count is less so we will fill null values with 0.0
test_df.Credit_History = test_df.Credit_History.fillna(0.0)

In [ ]:
from sklearn.preprocessing import LabelEncoder

columns_to_encode = ['Gender', 'Education', 'Married', 'Dependents', 'Self_Employed', 'Property_Area']
le = LabelEncoder()

for column in columns_to_encode:
    test_df[column] = le.fit_transform(test_df[column])

In [ ]:
test_df.dtypes

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv("./dataset/train_ctrUa4K.csv")
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [4]:
df.shape

(614, 13)

In [5]:
df.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')